<h2>Team Name</h2>

<ul class="block-grid six-up">
	<li>
		<div class="panel">
			<h5>Rank</h5>
		</div>
	</li>
	<li>
		<div class="panel">
			<h4><%= number_to_currency(current_user.available_credit) %></h4>
			<p><strong>Crédito</strong></p>
		</div>
	</li>
	<!-- <li>
		<div class="panel">
			<h4><%#= number_to_currency(current_user.total_credit_spent) %></h4>
			<p><strong>Spent</strong></p>
		</div>
	</li>
	<li>
		<div class="panel">
			<h4><%#= number_to_currency(current_user.total_credit_earned) %></h4>
			<p><strong>Earned</strong></p>
		</div>
	</li>
	<li>
		<div class="panel">
			<h4><%#= number_to_currency(current_user.total_investment_return) %></h4>
			<p><strong>ROI</strong></p>
		</div>
	</li> -->
	<li>
		<div class="panel">
			<h4><%= number_to_currency(current_user.total_portfolio_value) %></h4>
			<p><strong>Valor Portafolio</strong></p>
		</div>
	</li>
</ul>

<dl class="tabs">
  <dd class="active"><a href="#portfolio">Portfolio</a></dd>
  <dd><a href="#transactions">Transactions</a></dd>
</dl>

<ul class="tabs-content">
  <li class="active" id="portfolioTab">
  	<%= render 'portfolio' %>
  </li>
  <li id="transactionsTab">
  	<%= render 'transactions' %>
  </li>
</ul>
