<h2>Inversionista</h2>

<ul class="block-grid six-up">
	<!-- <li>
		<div class="panel">
			<h4><%#= current_user.ranking %></h4>
			<p><strong>Ranking</strong></p>
		</div>
	</li> -->
	<li>
		<div class="panel">
			<h4><%= number_to_currency(current_user.available_credit) %></h4>
			<p><strong>Efectivo</strong></p>
		</div>
	</li>
	<li>
		<div class="panel">
			<h4><%= number_to_currency(current_user.total_portfolio_value) %></h4>
			<p><strong>Valor Portafolio</strong></p>
		</div>
	</li>
</ul>

<dl class="tabs">
  <dd class="active"><a href="#portfolio">Acciones</a></dd>
  <dd><a href="#sales">Ventas</a></dd>
</dl>

<ul class="tabs-content">
  <li class="active" id="portfolioTab">
  	<%= render 'portfolio' %>
  </li>
  <li id="salesTab">
  	<%= render 'transactions' %>
  </li>
</ul>
